:root{
    --BodyBackground: #3e4637;
    --BodyWrapperBackground: #3e4637;
    --DefaultTextFontFamily: "Verdana";
    --LinkColor:#c4b54e;
}

#ContentGrid>row>column:not(:first-child)
{
    background:none;
}
#ContentGrid>row>column:not(:first-child) module, #ContentGrid>row>column:not(:first-child) moduleGroup{
    border-bottom-color: rgba(40, 46, 34, 255);
}

#SubNavigator li spriteIcon{
    display:none;
}

.PageModule{
    background-color:#4c5844;
    margin: .5em 1em 1em 1em;
    border: 1px outset;
	border-left-color: rgba(128, 128, 128, 255);
	border-top-color: rgba(128, 128, 128, 255);
	border-right-color: rgba(40, 46, 34, 255);
	border-bottom-color: rgba(40, 46, 34, 255);
}

#HeadlineWrapper overlay h1{
	display:none;
}

#PrimaryNav{
	background:none;
	background-color:#4c5844;
}

#SubNavigator{
	border-bottom-style:none;
}

#PrimaryNav module{
	border-right: none;
}
