img#GbLogo{
  display: block;
  box-sizing: border-box;
  background: url(images/gamebanana_logo_70s_alt.png) no-repeat;
  width: 308px; /* Width of new image */
  height: 32px; /* Height of new image */
  padding-left: 308px; /* Equal to width of new image */
}

img[class~=""][alt="CrazyGentleman avatar"]{
  display: block;
  box-sizing: border-box;
  background: url(images/fawcett_dancing_square_222x222.gif) no-repeat;
  width: 222px; /* Width of new image */
  height: 222px; /* Height of new image */
  padding-left: 222px; /* Equal to width of new image */
}
