img#GbLogo{
  display: block;
  box-sizing: border-box;
  background: url(images/gamebanana_logo_70s_alt.png) no-repeat;
  width: 308px; /* Width of new image */
  height: 32px; /* Height of new image */
  padding-left: 308px; /* Equal to width of new image */
}

.Avatar img{
  display: block;
  box-sizing: border-box;
  background: url(images/fawcett_dancing_square.gif) no-repeat;
  width: 296px; /* Width of new image */
  height: 296px; /* Height of new image */
  padding-left: 296px; /* Equal to width of new image */
}
